body{
    background-color: #f7f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Formulário */
header{
    margin: 12vh 12vw;
    width: 70vw;
    height: 70vh;
    background-color: #18a999;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #484349 0px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#titulo-formulario{
    text-align: center;
    line-height: 4vh;
    color: #f7f0f0;
    font-size: 3vh;
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    background-color:#f7f0f0;
    border: solid 4px #109648 ;
    box-shadow: #484349 -5px 5px 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 3vh;
}

#formulario div{
    display: flex;
    justify-content: space-between;
    margin: 1.2vh 0;
}

#formulario div label{
    border-bottom: solid 2px #18a999;
    width: 40%;
}

#formulario input{
    width: 50%;
    font-size: 3vh;
    text-align: right;
    padding: 0 10px;
}

#data-viagem{
    width: 45%;
}

#quantidade-diarias{
    width: 53%;
}

 #formulario select{
    width: 52.5%;
    font-size: 3vh;
    text-align: right;
    padding: 0 10px;
}

#formulario button{
    width: 20vw;
    height: 6vh;
    background-color: #109648;
    border: solid 2px #109648;
    border-radius: 5px;
    color: #f7f0f0;
    box-shadow: #484349 -2px 2px 5px;
    font-size: 3vh;
    margin: 1.2vh auto 0.8vh;
}

input:focus{
    outline: solid 3px #109648;
    border-radius: 2px;
    border: none;
}

select:focus{
    outline: solid 3px #109648;
    border-radius: 2px;
    border: none;
}

/* Estilização Geral de Todas as Folhas */
main{
    font-family: 'Times New Roman', Times, serif;
    width: 21cm;
    margin: auto;
    text-align: justify;
    background-color: #fff;
}

.hidden{
    display: none;
}

.altura-a4{
    height: 30.5cm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.corpo-texto{
    margin: 0 2cm;
    line-height: 28px;
}

.caixa-alta{
    text-transform: uppercase;
} 

.sublinhado{
    text-decoration: underline;
}

.negrito{
    font-weight: 800;
}

.recuo{
    text-indent: 1.5cm;
}

.centralizado{
    text-align: center;
}

.sublinhado-ass{
    width: 450px;
    border-bottom: solid 2px #000;
    display: block;
    margin: auto;
}

pre{
    font-size: 15px;
    line-height: 20px;
}

.alinhado-direita{
    text-align: right;
}

.linhas-proximas{
    line-height: 7px;
}

main img{
    width: 100%;
}

.img-cabecalho{
    margin: 20px 0;
    height: 135px;
}

.img-rodape{
    margin: 20px 0;
    height: 75px;
}


/* Estilização Folha Um */
#cabecalho-memorando{
    display: flex;
    justify-content: space-between;
}

#cabecalho-texto{
    line-height: 7px;
}


#tabela-memorando{
    border: #484349 solid 2px;
}

#tabela-memorando tr td{
    border: #484349 solid 2px;
    padding: 0 10px;
}

#tabela-memorando table tr td:first-child{
    width: 200px;
}

#tabela-memorando table tr td:nth-child(2){
    width: 550px;
    font-weight: 800;
}

#tabela-memorando table tr td:only-child{
    padding: 5px;
}

.assinatura{
    line-height: 2px;
    height: 120px;
}

.assinatura p{
    display: block;
    margin-bottom: -60px;
}

/* Estilização Folha dois */
#tabela-autorizacao{
    border-collapse: collapse;
    margin: 40px auto;
}

#tabela-autorizacao tr td{
    border: #484349 solid 2px;
}

#tabela-autorizacao tr{
    height: 40px;
}

#tabela-autorizacao tr td:first-child{
    width: 80px;
}

#tabela-autorizacao tr td:nth-child(2), #tabela-autorizacao tr td:nth-child(3){
    width: 300px;
}

/* Estilizando Folha Cinco */
.ultAss{
    margin-top: 70px;
}


@media print{
    body{
        margin: 0;
    }

    header{
        display: none;
    }



    section{
        page-break-after: always;
    }

}